.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.pnpm/**
node_modules/.pnpm/**
node_modules/.bin/**
node_modules/openai
pnpm-lock.yaml
